@model SITIO.Entidades.Estudiante

@{
	ViewBag.Title = "Modificar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
	<h3><b>Modificar Usuario</b></h3>
</div>

<div>
	<a title="Regresar" href="@Url.Action("Inicio", "Usuario")"><img src="~/Images/go-back.ico" alt="Regresar" style="vertical-align: middle;" height="50px" /></a>
</div>


@using (Html.BeginForm("Modificar", "Estudiante", new { id = Model.IdEstudiante }, FormMethod.Post))
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.IdEstudiante, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.IdEstudiante, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
			@Html.ValidationMessageFor(model => model.IdEstudiante, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.Usuario.IdUsuario, (SelectList)ViewBag.Usuarios, "-- Seleccione un Usuario --", new { @id = "iddropdownlist", @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Carrera, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.Carrera.CodigoCarrera, (SelectList)ViewBag.Carreras, "-- Seleccione un Carrera --", new { @id = "iddropdownlist", @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Carrera, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.NombreEstudiante, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.NombreEstudiante, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.NombreEstudiante, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.DPI, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.DPI, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.DPI, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input value="Modificar" class="btn btn-default" title="Modificar" alt="Modificar" src="~/Images/documentediting.ico" type="image" height="60px" align="middle" />
		</div>
	</div>
</div>
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
